* {
    box-sizing: border-box;
}
:root {
    --primary-color: #143c3c;
    --header-bg: #10375c;
}

html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
}
/* common */

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    --height: 57px;
    display: inline-block;
    min-width: 173px;
    background: var(--primary-color);

    font-weight: 500;
    font-size: 1.8rem;
    line-height: var(--height);
    border: 1px solid var(--primary-color);
    color: #fff;
    height: var(--height);
    text-align: center;
    border: 1.5px solid #143c3c;
    border-radius: 40px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn-book:hover {
    background: var(--primary-color);
}
.round-point {
    width: 6px;
    height: 6px;
    background: #5f5b53;
    border-radius: 50%;
}
.round-point-active {
    background: var(--primary-color);
}
.round-point-often {
    background: #634700;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.break-all {
    word-break: break-all;
}
.selection__node {
    position: relative;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #152427;
    margin-left: 46px;
}

.selection__node::before {
    position: absolute;
    display: block;
    content: "";
    width: 25px;
    height: 1px;
    bottom: 9px;
    left: -46px;
    background: #152427;
}
/* Herder */
.herder {
    margin-top: 28px;
}

.herder__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.herder__top {
    display: flex;
    align-items: center;
}
.heder__list {
    display: flex;
    gap: 38px;
}
.heder__item:last-child {
    margin-right: 88px;
}
.heder__link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}
.heder__link--active::after {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    bottom: -28px;
    background: var(--primary-color);
    z-index: 1;
}
.heder__link:hover {
    color: #152427;
}

.herder__line {
    display: block;
    position: absolute;
    bottom: -28px;
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}
.herder__content {
    position: relative;
    margin-top: 137px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding-bottom: 87px;
}
.herder__heading {
    max-width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}
.herder__desc {
    margin-top: 20px;
    max-width: 341px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}
.herder__cta {
    margin-top: 42px;
    display: flex;
    gap: 36px;
    align-items: center;
}
.herder__pay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 59px;
    outline: none;
    border: none;
    background-color: #fff;
}
.herder__images {
    margin-right: 25px;
    display: flex;
    gap: 20px;
}
.herder__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    z-index: 1;
}
.herder__img:last-child,
.herder__img:first-child {
    margin-top: -77px;
}

.herder__img1,
.herder__img2,
.herder__img3,
.herder__img4 {
    display: block;
    position: absolute;
    z-index: 1;
}
.herder__img1 {
    top: 0;
    left: 254px;
    z-index: 1;
}
.herder__img2 {
    top: -6px;
    left: 295px;
}

.herder__img3 {
    right: 68px;
    bottom: 18px;
}
.herder__img4 {
    right: 37px;
    bottom: 57px;
    z-index: 1;
}
.herder__elip {
    position: absolute;
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    right: 129px;
    bottom: 90px;
}
.brand {
    margin-top: 43px;
}
.brand__images {
    padding: 76px 121px 78px 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e2eddf;
    border-radius: 100.5px;
}
.brand_group {
    display: flex;
    align-items: center;
    gap: 11px;
}

.service {
    margin-top: 106px;
}
.service__content {
    padding-bottom: 15px;
}
.service__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__titel {
    position: relative;
    max-width: 520px;
    margin-top: 12px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}
.service__titel::after {
    position: absolute;
    display: block;
    content: "";
    width: 66px;
    height: 2px;
    bottom: 19px;
    right: 130px;
    background: #152427;
}
.service__control {
    margin-right: 73px;
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;
}
.service__btn {
    color: #152427;
    outline: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    color: #152427;
    border: none;
    transition: 0.25s;
}
.service__btn:hover {
    color: #fff;
    background: #143c3c;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
}
.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.service__item_images {
    overflow: hidden;
    width: 100%;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
}
.service__item_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: 0.25s;
}
.service__item:hover .service__item_img {
    transform: scale(1.1);
}
.service__item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
}
.service__item_titel {
    margin-top: 24px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}
.service__item_desc {
    max-width: 268px;
    margin-top: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

.about {
    margin-top: 157px;
}
.about__content {
    background-color: #fff;
    display: flex;
    gap: 64px;
    justify-content: space-between;
    height: 570px;
}
.about__images {
    position: relative;
    display: flex;
    gap: 21px;
}
.about__img {
    display: block;
    max-width: 286px;
    max-height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
    margin-top: 90px;
}
.about__img:nth-child(2) {
    margin-top: 13px;
}
.about__img--lv1,
.about__img--lv2 {
    display: block;
    position: absolute;
}
.about__img--lv1 {
    left: 47px;
    top: -15px;
    z-index: 1;
}
.about__img--lv2 {
    left: 76px;
    top: 14px;
}

.about__body__titel {
    margin-top: 20px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}
.about__body__desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}
.about__list {
    margin-top: 36px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}
.about__list_titel {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.about__list_desc {
    position: relative;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}
.about__list_desc::after {
    position: absolute;
    display: block;
    content: "";
    width: calc(100% + 117px);
    height: 0px;
    left: -116px;
    bottom: -20px;
    border: 1px solid #83a17d;
}

.about__group {
    position: absolute;
    display: block;
    width: 143px;
    height: 144px;
    background: #fff;
    border-radius: 8px;
    left: 430px;
    bottom: 8px;
}
.about__group__body {
    padding: 10px 17px;
    display: flex;
    flex-direction: column;
}
.about__group__body__titel {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #152427;
}
.about__group__body__desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}
.about__group__body__node {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.about__group__body__line {
    margin-top: 3px;
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}
.about__group__body__line::before {
    display: block;
    content: "";
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}
.about__group__body__load {
    margin-top: 3px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    text-align: right;
    color: #152427;
}

.about__group__body__cire {
    margin-top: 3px;
    width: 11px;
    height: 11px;
    background: #143c3c;
    border: 3px solid #eaeaea;
    border-radius: 50%;
}
.about__group__temr {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__group__temr_desc {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.about__group__temr_img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ffffff;
    margin-right: -9px;
}

.about__group__temr_img:last-child {
    margin-right: 0px;
}
.process {
    margin-top: 76px;
}
.process-content {
    padding-top: 36px;
    position: relative;
}
.process-content__img {
    display: block;
    position: absolute;
    width: 450px;
    height: 433px;
    top: 0;
    right: 92px;
    object-fit: cover;
}

.process-content__heading__titel {
    max-width: 477px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}
.process-content__list {
    margin-top: 81px;
}
.process-content__item {
    position: relative;
    padding: 0 30px;
    display: flex;
    align-items: center;
    gap: 64px;
    height: 185px;
}
.process-content__item:hover {
    background: #e2eddf;
    border-radius: 33px;
}

.process-content__item:hover .process-content__item_line {
    display: none;
}

.process-content__item_line {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-content__item__index {
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 0.72;
    color: #143c3c;
}
.process-content__item__titel {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}
.process-content__item__link {
    display: block;
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: #575d5e;
}
.process-content__item_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.process-content__item__desc {
    max-width: 572px;
    max-height: 84px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;

    color: #7d8188;
}
.features {
    margin-top: 148px;
    padding: 116px 0 63px;
    background: #143c3c;
}
.features__heading {
    display: flex;
    gap: 93px;
    align-items: center;
    justify-content: space-between;
}

.features__heading__titel {
    position: relative;
    max-width: 457px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #e7f9f9;
}
.features__heading__titel::after {
    position: absolute;
    display: block;
    content: "";
    width: 66px;
    height: 2px;
    right: 121px;
    bottom: 19px;
    background: #83a17d;
}
.features__heading__desc {
    max-width: 580px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}
.features__heading__cta {
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 26px;
}
.features__heading__link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}
.features__heading__btn {
    color: #80a07b;
    padding: 10px;
    outline: none;
    border: none;
    background: #143c3c;
}
.features__heading__btn:hover {
    color: #fff;
    cursor: pointer;
}
.features_video {
    background-color: #575d5e;
    overflow: hidden;
    margin-top: 65px;
    height: 544px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 22px;
}

.service-features {
    margin-top: 140px;
}
.service-features__body {
    text-align: center;
}
.service-features__body__titel {
    max-width: 520px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    margin-left: auto;
    margin-right: auto;
    color: #152427;
}
.service-features__body__desc {
    margin-top: 20px;
    max-width: 547px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    margin-left: auto;
    margin-right: auto;
    color: #7d8188;
}
.service-features__list {
    margin-top: 103px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 45px;
    justify-content: space-between;
}
.service-features__item {
    flex: 1;
    height: 362px;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    transition: 0.25s;
}
.service-features__item_img {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
.service-features__item:hover {
    transform: translateY(-59px);
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
}
.service-features__item__titel {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #152427;
}
.service-features__item__desc {
    max-width: 286px;
    margin: 9px 30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

.blog {
    margin-top: 184px;
}

.blog-content__top {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-content__top__titel {
    position: relative;
    max-width: 520px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}
.blog-content__top__titel::after {
    position: absolute;
    display: block;
    content: "";
    width: 82px;
    height: 3px;
    right: -10px;
    bottom: 19px;
    background: #152427;
}
.blog-content__top__desc {
    max-width: 409px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}
.blog-content__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.blog-content__item {
    border-radius: 40px;
    overflow: hidden;
}
.blog-content__item:hover {
    background: #fff;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}
.blog-content__item__img {
    width: 100%;
    height: 317px;
    object-fit: cover;
    transition: 0.25s;
}
.blog-content__item__body {
    padding: 26px 30px 12px 30px;
}
.blog-content__item__btn {
    --height: 26px;
    min-width: 107px;
    background: #e2eddf;
    border-radius: 20px;
    border: #e2eddf;
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
    transition: 0.25s;
}
.blog-content__item__btn:hover {
    background: var(--primary-color);
    color: #e2eddf;
}
.blog-content__item__desc {
    margin-top: 13px;
    max-height: 90px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.7;
    color: #143c3c;
}
.blog-content__item__line {
    margin-top: 9px;
    display: block;
    width: 100%;
    height: 1px;
    background: #c4c4c4;
}
.blog-content__item__day {
    display: block;
    text-align: right;
    margin-top: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #575d5e;
}

.footer {
    margin-top: 102px;
    padding-top: 72px;
    padding-bottom: 50px;
    background: #143c3c;
}
.footer__row {
    display: flex;
    justify-content: space-between;
}
.footer__list {
    display: flex;
    gap: 70px;
    justify-content: space-between;
}
.footer__form__titel {
    font-weight: 500;
    font-size: 3.2rem;
    color: #ffffff;
}
.footer__form__txt {
    margin-top: 25px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #6a8383;
    outline: none;
    border: none;
    background: var(--primary-color);
}
.footer__form__btn {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
    outline: none;
    border: none;
    background: var(--primary-color);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    transition: 0.25s;
}
.footer__form__btn:hover {
    color: var(--primary-color);
    background: #c4c4c4;
    cursor: pointer;
}
.footer__form__line {
    margin-top: 32px;
    width: 354px;
    height: 1px;
    background: #6a8383;
}
.footer__form__cta {
    margin-top: 47px;
    display: flex;
    gap: 22px;
    align-items: center;
}
.footer__btn {
    /* color: #A75325; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    background-color: transparent;
}
.footer__btn:hover {
    color: #a75325;
    cursor: pointer;
}
.footer__column__titel {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}
.footer__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.25;
    color: #6a8383;
}
.footer__column__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer__bottom__line {
    margin-top: 60px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}
